/* toda parte de responsividades do site  */

/* mobile  */

/* header  */
@media(max-width:480px){
    .header{
        display: flex;
        justify-content: center;        
         
    }
    .header-menu {
        padding: 20px;
        gap: 30px;
    }
    .header-menu a:hover{
        background: var(--cor-2);
        border-radius: 20px;
        padding: 7px;
    }
    .header-menu a::after{
        display: none;
    }

    /* main  */
    


}

/* tablet  */


/* para pc  */